body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-info p {
    margin: 5px 0;
}

img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
}


.goals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    flex: 1 1 300px;
    box-sizing: border-box;
}

.card h2 {
    color: #007BFF;
    margin: 10px 0 5px;
}

.card p {
    margin: 15px 0 15px;
}

.links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.links li {
    display: inline;
    margin: 0 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .card {
        padding: 10px;
        margin: 5px;
    }
}